/* CSS Document */
body{
  background-color: 	#FFE4B5;
  margin-left: 7%;
  margin-right: 7%;
}
h1 {
  text-align: center;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.obs {
  font-size: 18px;
}
